@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fredoka+One&display=swap');


.navbar{
    background-Color: rgb(255, 139, 31);
    font-family: 'Fredoka One', cursive;
    font-size: 18px;
    position: absolute;
}

.logo{
    color: rgb(217, 254, 255);
    font-size: 25px;
    transition: 0.5s;
    transition-delay: 0.1s;
    font-size: 25px;
}

.logo:hover{
    color: rgb(35, 85, 248);
    padding: 12px 36px;
    margin: 10px 0;
    position: relative;
    display: inline-block;
}

.navlink{
    color: rgb(217, 254, 255);
    transition: 0.5s;
    transition-delay: 0.1s;
}

.navlink:hover{
    border-radius: 40px;
    color: rgb(35, 85, 248);
    padding: 12px 36px;
    margin: 10px 0;
    position: relative;
    display: inline-block;
}



